{% extends "layouts/master.html" %}
{% block content %}
        <div class="row">
                    <div class="col-md-1 col-md-offset-11">
                        <button class="btn btn-primary">Add Project</button>
                    </div>
        </div>

        <div class="row medium-margin-top">
            <div class="col-md-12">

                <div class="box text-center">
                    <h3 class="text-center"><a href="project.html">Oh Bugz</a></h3>
                    <div><strong>View Tasks:</strong> <a href="#" class="small">All</a> | <a href="#" class="small">Opened</a></div>
                    <div><strong>Stats:</strong> <span class="small"> 1 Open, 8 Closed</span></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                             aria-valuemin="0" aria-valuemax="100" style="width:40%">
                            40% Complete (success)
                        </div>
                    </div>
                </div>

                <div class="box text-center">
                    <h3 class="text-center"><a href="project.html">Oh Bugz</a></h3>
                    <div><strong>View Tasks:</strong> <a href="#" class="small">All</a> | <a href="#" class="small">Opened</a></div>
                    <div><strong>Stats:</strong> <span class="small"> 1 Open, 8 Closed</span></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                             aria-valuemin="0" aria-valuemax="100" style="width:70%">
                            70% Complete
                        </div>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}